# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
*.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.dat

tokens.el

/elpa/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# Flycheck
flycheck_*.el

# server auth directory
/server/
*elpa/*
*archive-contents*
/.mc-lists.el
elpa/*
