# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
*.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.dat

tokens.el

/elpa/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# Flycheck
flycheck_*.el

# server auth directory
/server/
*elpa/*
*archive-contents*
/.mc-lists.el
elpa/*
/config2/console-settings.el
/config2/editing-settings.el
/config2/google-settings.el
/config2/interface-settings.el
/config2/latex-settings.el
/config2/navigation-settings.el
/config2/notes-settings.el
/config2/package-management-settings.el
/config2/programming-language-settings.el
/config2/programming-settings.el
/config2/theme-settings.el
/config2/version-control-settings.el
/config2/visual-settings.el
/emacs-config.pdf
/emacs-config.tex
